<p style="color: green"><%= notice %></p>

<%= render @post %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Author:</strong>     
    <% if comment.user.present? %>
      <%= comment.user.username %>
    <% else %>
      Anonymous
    <% end %><br>
    <strong>Comment:</strong> <%= comment.content %>
  </p>
  <% if comment.user == current_user %>
    <%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %>
    <%= button_to "Delete Comment", [@post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%= form_with model: [@post, @post.comments.build] do |form| %>
  <%= form.text_field :content %>
  <%= form.submit %>
<% end %>


<div>
  <% if @post.user == current_user %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>

  <%= link_to "Back to posts", posts_path %>
</div>
